/* Tema claro (padrão) */
/* body {
  background-color: white;
  color: black;
} */

/* Tema escuro */
/* .dark body {
  background-color: black;
  color: white;
} */

.appshare {
  height: 150px;
  background-image: url("../app/i/appshare.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.destinationphoto {
  background-image: url("https://www.churchofjesuschrist.org/imgs/35fd231831506d3e7ae534b1a2017fd387980433/full/3840%2C/0/default");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/* bancos */
.seat-row,
.separator-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.seat,
.separator {
  flex: 1;
  height: 40px;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.remove-btn {
  width: 40px;
  height: 40px;
  background-color: #e57373;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background-color: #f44336;
}
